repos:
  - repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.4
    hooks:
        - id: seed-isort-config
          args: [--exclude=^((examples|docs)/.*)$]

  - repo: https://github.com/timothycrosley/isort
    rev: 5.4.2
    hooks:
        - id: isort

  - repo: https://github.com/python/black
    rev: 20.8b1
    hooks:
        - id: black
          language_version: python3.8

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
        - id: flake8